<!-- [class.className]="property ekliyoruz" -->
<div class="kitaplar">
  <ul *ngFor="let item of kitaplar">
    <li>
      <span [class.online]="item.okundumu"></span>
      <span>{{item.name}}</span>
    </li>
  </ul>
</div>

<br>
<br>
<br>

<!-- [ngClass]="className":property,'clasName':property -->
<div class="kitaplar">
  <ul *ngFor="let item of kitaplar">
    <li>
      <span [ngClass]="{'online': item.okundumu,'favorite': item.favorite}"></span>
      <span>{{item.name}}</span>
    </li>
  </ul>
</div>